<p>
  <font size="3"><b>Баяр хүргэе!</b></font>
</p>
<p>
  Та энэ текстийг харж байгаа бол програмыг амжилттай суулгасан байна гэсэн үг. Гэхдээ зарим нэг хийх ажил байна аа :-)
</p>
<p class="item_title">
  <img src="images/before_item.gif" width="25" height="25" align="absmiddle" />
  удирдах самбар
</p>
<p>
  удирдах самбар руу орохын тулд <a href="admin/index.asp">/admin/</a> руу орно. Энд нэвтрэх эрх шаардана.<br />
  Үндсэн нэвтрэх эрх нь:
<ul>
    <li>LoginID: administrator</li>
    <li>Password: admin</li>
</ul>
  After logging in, you will see the main items from the adminpanel. It is important to configure "my store" first.
  Here are some items that you <b>absolutely</b> have to configure:<br /><br />

  <b><u>Update method language-file</u></b><br />
  When the file "/language.asp" does not have sufficient (write-)permissions, you have to set this to "no". If the file
  "/language.asp" has write-permissions, the script will automatically adjust this file when adding/deleting a language.
  If you do not have write-permissions on this file, you will have to do this manually (see FAQ).<br /><br />

  <b><u>Link to shop</u></b><br />
  This is the link to your shop (duh!). If your shop is located at "http://www.myshop.com/ashop/" then this is your shoplink.<br /><br />

  <b><u>Virtual path</u></b><br />
  Most important configuration of your shop!! When your shop is located at "http://www.myshop.com/ashop/" then "/ashop/" is your virtual path.
  </p>
<p class="item_title"><img src="images/before_item.gif" width="25" height="25" align="absmiddle" />
  Home</p>
<p>
  The content of this file is located in <font color="#FF0000">/languages/english/templates/html_home.html</font>. You can
  open and edit this file with every text-editor (like notepad) or with webbuilding software (like frontpage or dreamweaver).</p>
<p><span class="item_title"><img src="images/before_item.gif" alt="support" width="25" height="25" align="absmiddle" /> Support</span></p>
<p>For support you can always visit the website <a href="http://www.rammdev.com" target="_blank">www.rammdev.com</a> and have a look in the FAQ's or post your question on the forum </p>
